<script type="text/javascript">  
  function callAngularFunction() {  
      window.angularComponentReference.zone.run(() => { window.angularComponentReference.loadAngularFunction(); });  
  }  
</script> 
<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a routerLink="/">Acme Explorer</a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a id="header-home" routerLink="/">{{'header.home' | translate}}</a></li>

        <li class="drop-down" ><a id="header-trips" href="javascript:void(0);">{{'trips.trips' | translate}}</a>
          <ul>
            <li><a id="header-trips-list" routerLink="/trips">{{'trips.list' | translate}}</a></li>
            <li><a id="header-trips-new" routerLink="">{{'trips.new' | translate}}</a></li>
          </ul>
        </li>

        <li class="drop-down" ><a id="header-sponsorships" href="javascript:void(0);">{{'sponsorships.sponsorships' | translate}}</a>
          <ul>
            <li><a id="header-trips-list" routerLink="/trips">{{'sponsorships.list' | translate}}</a></li>
            <li><a id="header-trips-new" routerLink="">{{'sponsorships.new' | translate}}</a></li>
          </ul>
        </li>

        <li><a id="header-login" routerLink="/login">{{'header.login' | translate}}</a></li>
        <li><a id="header-logout" href="javascript:void(0);" (click)="logout()">{{'header.logout' | translate}}</a></li>

        <li class="get-started"><a id="header-register" routerLink="/register">{{'header.register' | translate}}</a></li>

        <li class="drop-down"><a id="header-language" href="javascript:void(0);"><fa-icon [icon]="faGlobe"></fa-icon></a>
          <ul>
            <li><a href="javascript:void(0);" id="changeLangEn" (click)="changeLanguage('en')">EN</a></li>
            <li><a href="javascript:void(0);" id="changeLangEs" (click)="changeLanguage('es')">ES</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</header>