<header id="header" class="fixed-top">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="/">Acme Explorer</a></h1>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="/">{{'header.home' | translate}}</a></li>

        <li class="drop-down"><a href="javascript:void(0);">{{'trips.trips' | translate}}</a>
          <ul>
            <li><a href="/trips">{{'trips.list' | translate}}</a></li>
            <li><a href="team.html">{{'trips.load' | translate}}</a></li>
            <li><a href="team.html">{{'trips.new' | translate}}</a></li>
          </ul>
        </li>

        <li><a href="/login">{{'header.login' | translate}}</a></li>
        <li><a href="javascript:void(0);" (click)="logout()">{{'header.logout' | translate}}</a></li>

        <li class="get-started"><a href="/register">{{'header.register' | translate}}</a></li>

        <li class="drop-down"><a href="javascript:void(0);"><fa-icon [icon]="faGlobe"></fa-icon></a>
          <ul>
            <li><a href="javascript:void(0);" (click)="changeLanguage('en')">EN</a></li>
            <li><a href="javascript:void(0);" (click)="changeLanguage('es')">ES</a></li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</header>