<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
    <div class="container">
      <div class="breadcrumb-hero">
        <h2>{{'sponsorship.sponsorship' | translate}}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <ol>
      <li><a routerLink="/">{{'header.home' | translate}}</a></li>
      <li><a routerLink="/sponsorships">{{'sponsorships.list' | translate}}</a></li>
      <li>{{'sponsorship.sponsorship' | translate}}</li>
    </ol>
  </div>
</section>


<section id="blog" class="blog container">
  <div class="row">
    <div class="col-lg-8 entries">

      <article class="entry entry-single">

        <div class="entry-img">
          <img *ngIf="sponsorship.banner != null && sponsorship.banner.length != 0" class="img-fluid" src="{{sponsorship.banner}}"
            alt="{{sponsorship.landingPage}}">
          <img *ngIf="!sponsorship.banner || sponsorship.banner.length === 0" class="img-fluid"
            src="https://i.ya-webdesign.com/images/image-not-available-png-5.png" alt="{{sponsorship.landingPage}}">
        </div>

        <div class="entry-meta">
          <ul>
            <li class="d-flex align-items-center"><i class="icofont-user"></i> {{'sponsorship.creator' | translate}}: <a routerLink="/actors/display/{{creator.id}}"> {{creator.name}}</a>
            </li>
          </ul>
        </div>

        <div class="entry-content">
          <h3>
            <a href="{{sponsorship.landingPage}}">{{sponsorship.landingPage}}</a>
          </h3>
          <div *ngIf="sponsorship.payed" class="text-success">
            <h4>{{'sponsorship.payed' | translate}}</h4>
          </div>
          <div *ngIf="!sponsorship.payed" class="text-danger">
            <h4>{{'sponsorship.notPayed' | translate}}</h4>
          </div>
          <h3>{{'sponsorship.trips' | translate}}</h3>
          <p>
            <span *ngFor="let trip of trips; let i = index">
              <a routerLink="/trips/display/{{trip.id}}">{{trip.title}}</a> <br />
            </span>
          </p>
        </div>
      </article>
    </div>
  </div>
</section>