<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
    <div class="container">
      <div class="breadcrumb-hero">
        <h2>{{'finder.finder' | translate}}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <ol>
      <li><a href="/">{{'header.home' | translate}}</a></li>
      <li>{{'finder.finder' | translate}}</li>
    </ol>
  </div>
</section>

<section id="service-login" class="services section-bg">
  <div class="container">

    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="mx-auto">

          <form [formGroup]="finderForm" (ngSubmit)="onSubmit()">
            <fieldset>

              <input class="form-control" formControlName="_id" type="hidden">
              <input class="form-control" formControlName="explorer" type="hidden">

              <div class="form-group has-danger">
                <label for="keyWord" class="form-control-label">{{'finder.keyword' | translate}}</label>
                <input id="keyWord" type="text" formControlName="keyWord" class="form-control">
              </div>

              <div class="form-group has-danger">
                <label for="minPrice" class="form-control-label">{{'finder.minprice' | translate}}</label>
                <input id="minPrice" type="number" formControlName="minPrice" class="form-control">
              </div>

              <div class="form-group has-danger">
                <label for="maxPrice" class="form-control-label">{{'finder.maxprice' | translate}}</label>
                <input id="maxPrice" type="number" formControlName="maxPrice" class="form-control">
                <div *ngIf="finderForm.errors && finderForm.errors.pricesValidator" class="text-danger">
                  {{'errorMessages.validation.pricesRange' | translate}}
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="pickerStartDate" class="form-control-label">{{'finder.datestart' | translate}}</label>
                <div>
                  <input matInput [matDatepicker]="pickerStartDate" autocomplete="off"
                    name="dateStart" formControlName="dateStart" class="form-control">
                  <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="dateStart" #pickerStartDate></mat-datepicker>
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="pickerEndDate" class="form-control-label">{{'finder.dateend' | translate}}</label>
                <div>
                  <input matInput [matDatepicker]="pickerEndDate" autocomplete="off"
                    name="dateEnd" formControlName="dateEnd" class="form-control">
                  <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
                  <mat-datepicker [startAt]="dateEnd" #pickerEndDate></mat-datepicker>
                </div>
                <div *ngIf="finderForm.errors && finderForm.errors.datesValidator" class="text-danger">
                  {{'errorMessages.validation.startEndDatesRangeFinder' | translate}}
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="finderForm.invalid">
                {{'finder.search' | translate}}
              </button>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>