<div *ngIf="actor != null" class="col" style="width: 50%; margin: 0 auto;">
  <div class="row">
    <div class="col mb-3">
      <div class="card">
        <div class="card-body">
          <div class="e-profile">
            <div class="row">
              <div class="col-12 col-sm-auto mb-3">
                <div class="mx-auto" style="width: 140px;">
                  <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                    <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                  </div>
                </div>
              </div>
              <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                <div class="text-center text-sm-left mb-2 mb-sm-0">
                  <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{actor.name}}</h4>
                  <p class="mb-0">{{actor.surname}}</p>
                </div>
                <div class="text-center text-sm-right">
                  <span class="badge badge-secondary">{{actor.role}}</span>
                  <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                </div>
              </div>
            </div>
            <ul class="nav nav-tabs">
              <li class="nav-item"><a href="" class="active nav-link">Profile</a></li>
            </ul>
            <div class="tab-content pt-3">
              <div class="tab-pane active">
                <form [formGroup]="actorForm" (ngSubmit)="onEditProfile()">
                  <input class="form-control" formControlName="id" type="hidden">
                  <input class="form-control" formControlName="role" type="hidden">
                  <input class="form-control" formControlName="email" type="hidden">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.name' | translate}}</label>
                            <input class="form-control" formControlName="name" placeholder="{{'actor.name' | translate}}">
                          </div>
                          <div *ngIf="actorForm.get('name').errors && actorForm.get('name').touched && actorForm.get('name').errors.required" class="text-danger">
                            {{ 'errorMessages.validation.required' | translate }}
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.surname' | translate}}</label>
                            <input class="form-control" formControlName="surname" placeholder="{{'actor.surname' | translate}}">
                          </div>
                          <div *ngIf="actorForm.get('surname').errors && actorForm.get('surname').touched && actorForm.get('surname').errors.required" class="text-danger">
                            {{ 'errorMessages.validation.required' | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.email' | translate}}</label>
                            <input readonly class="form-control" formControlName="email" placeholder="{{'actor.email' | translate}}">
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.phone' | translate}}</label>
                            <input class="form-control" formControlName="phone" placeholder="{{'actor.phone' | translate}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col mb-3">
                          <div class="form-group">
                            <label>{{'actor.address' | translate}}</label>
                            <input class="form-control" formControlName="address" placeholder="{{'actor.address' | translate}}">
                          </div>
                          <div *ngIf="actorForm.get('address').errors && actorForm.get('address').touched && actorForm.get('address').errors.maxlength" class="text-danger">
                            {{ 'errorMessages.validation.string.maxLength' | translate: {
                            maxvalue: actorForm.get('address').errors.maxlength.requiredLength
                            } }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" hidden>
                    <div class="col-12 col-sm-6 mb-3">
                      <div class="mb-2"><b>{{'actor.changePassword' | translate}}</b></div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.currentPassword' | translate}}</label>
                            <input class="form-control" type="password" placeholder="••••••">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.newPassword' | translate}}</label>
                            <input class="form-control" type="password" placeholder="••••••">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label>{{'actor.confirmPassword' | translate}}</label>
                            <input class="form-control" type="password" placeholder="••••••"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button (click)="goBack()" class="bn btn-primary" style="background: lightgrey; border-color: lightgrey;">Cancelar</button>
                      <button class="btn btn-primary" type="submit" [disabled]="actorForm.invalid">{{'actor.saveChanges' | translate}}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>