<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container" data-aos="fade-up">
    <h1>{{'main.header' | translate}}</h1>
    <h2>{{'main.subheader' | translate}}</h2>
    <a routerLink="/trips" class="btn-get-started scrollto">{{'main.getstarted' | translate}}</a>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="icofont-simple-smile"></i>
                <span data-toggle="counter-up">65</span>
                <p>{{'main.happyClients' | translate}}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="icofont-document-folder"></i>
                <span data-toggle="counter-up">85</span>
                <p>{{'main.projects' | translate}}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="icofont-clock-time"></i>
                <span data-toggle="counter-up">12</span>
                <p>{{'main.yearsOfExperience' | translate}}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="icofont-award"></i>
                <span data-toggle="counter-up">15</span>
                <p>{{'main.awards' | translate}}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-6 video-box align-self-baseline">
          <img src="assets/img/about.jpg" class="img-fluid" style="height: 350px !important;" alt="">
          
        </div>

        <div class="col-lg-6 video-box align-self-baseline">
          <img src="assets/img/man-walking-dog.jpg" class="img-fluid" style="height: 350px !important;" alt="">
          
        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="fade-in">

      <div class="text-center">
        <h3>{{'main.earnMoneyPublishingYourTrips' | translate}}</h3>
        <p> {{'main.earnMoneyPublishingYourTripsDescription' | translate}}
        </p>
        <a class="cta-btn" routerLink="/trips">{{'main.getstarted' | translate}}</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services  section-bg ">
    <div class="container">

      <div class="section-title pt-5" data-aos="fade-up">
        <h2>{{'main.ourAdvantages' | translate}}</h2>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
            <h4 class="title">{{'main.trustTheLeader' | translate}}</h4>
            <p class="description">{{'main.trustTheLeaderDescription' | translate}}</p>
          </div>
        </div>
      
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
            <h4 class="title">{{'main.enjoyPaypal' | translate}}</h4>
            <p class="description">{{'main.enjoyPaypalDescription' | translate}}</p>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
            <h4 class="title">{{'main.beEfficient' | translate}}</h4>
            <p class="description">{{'main.beEfficientDescription' | translate}}</p>
          </div>
        </div>
        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
            <h4 class="title">{{'main.dontLoseTime' | translate}}</h4>
            <p class="description">{{'main.fewClicksToApply' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>