<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>{{'trips.trips' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a routerLink="/">{{'header.home' | translate}}</a></li>
            <li>{{'trips.trips' | translate}}</li>
        </ol>
    </div>
</section>


<section id="blog" class="blog">
    <div class="container">

        <div class="blog-pagination" data-aos="fade-up">
            <ul class="">
                <li class="active"><a routerLink="/trips/create">{{'trips.new' |translate}}</a></li>
                <input #myInput placeholder=" {{'trips.placeholderSearcher' |translate}}" [(ngModel)]="trip" (input)="filterTrip(myInput.value)" size="50"/>
            </ul>          
        </div>

        <div *ngIf="data == undefined || data.length == 0">
            {{ 'trips.empty' | translate}}
        </div>

        <div *ngIf="data != undefined && data.length > 0" class="row">

            <div *ngFor="let trip of filteredTrips; let i = index" class="col-lg-4  col-md-6 d-flex align-items-stretch"
                data-aos="fade-up" infiniteScroll [infiniteScrollDistance]="0.01" [infiniteScrollThrottle]="150"
                (scrolled)="onScrollDown()"  >
                <article class="entry">

                    <div class="entry-img">
                        <img *ngIf="trip.photoObject != null && trip.photoObject.Buffer != 0" class="img-fluid"
                            src="{{trip.photoObject.Buffer}}" alt="{{trip.title}}">
                        <img *ngIf="!trip.photoObject || !trip.photoObject || trip.photoObject.Buffer === 0" class="img-fluid"
                            src="https://i.ya-webdesign.com/images/image-not-available-png-5.png" alt="{{trip.title}}">
                    </div>

                    <h2 class="entry-title">
                        <a routerLink="/trips/display/{{trip._id}}">{{trip.title}}</a>
                    </h2>

                    <div class="entry-meta">
                        <ul>
                            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i>
                                {{trip.startDate |localizedDate}} - {{trip.endDate |localizedDate}}</li>
                            <li class="d-flex align-items-center"><i class="icofont-price"></i>
                                {{trip.price}} €</li>
                        </ul>
                    </div>

                    <div class="entry-content">
                        <p>
                            {{trip.description}}
                        </p>

                        <div class="read-more">
                            <a *ngIf="actor != null && actor.id === trip.creator" routerLink="/trips/display/{{trip._id}}" >{{'trips.edit' |translate}}</a>
                            <a *ngIf="!actor || actor.id !== trip.creator" routerLink="/trips/display/{{trip._id}}">{{'trips.more' |translate}}</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>