<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>Acme<span>Explorer</span></h3>
                    <p>{{'footer.acmeExplorerDescription' | translate}}</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>{{'footer.team' | translate}}</h4>
                    <p>
                        {{'footer.teamDescription' | translate}}
                    </p>
                    <ul>
                        <li>Rafael Fresno Aranda</li>
                        <li>Jorge Gordo Aguilar</li>
                        <li>Antonio Rodríguez Artacho</li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>{{'footer.contactUs' | translate}}</h4>
                    <p>
                        Avenida de la Reina Mercedes <br>
                        {{'footer.postalCode' | translate}} 41012 {{'footer.seville' | translate}}<br>
                        ({{'footer.seville' | translate}}) {{'footer.spain' | translate}}<br>
                        <strong>{{'footer.phone' | translate}}:</strong> +34 954 11 22 33<br>
                        <strong>Email:</strong> info@acmeexplorer.com<br>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            Acme <strong>Explorer &copy;</strong> {{today |localizedDate }}. {{'footer.allRightsReserved' | translate}}. <a routerLink="/terms-and-conditions">{{'footer.terms' | translate}}.</a>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/serenity-bootstrap-corporate-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="javascript:void(0);" class="back-to-top"><i class="icofont-simple-up"></i></a>