<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
      <div class="container">
          <div class="breadcrumb-hero">
              <h2>{{'applications.applications' | translate}}</h2>
          </div>
      </div>
  </div>
  <div class="container">
      <ol>
          <li><a routerLink="/">{{'header.home' | translate}}</a></li>
          <li>{{'applications.applications' | translate}}</li>
      </ol>
  </div>
</section>

<table datatable [dtOptions]="dtOptions" class="table table-sm table-striped" dt-columns="dtColumns" width="100%">
  <thead style="background-color: #94c045;">
    <tr>
      <th>Moment</th>
      <th>Status</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of data">
      <td>{{app.moment | date}}</td>
      <td>{{app.status}}</td>
      <td>
        <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of app.comments">
            <p class="card-text">{{comment}}</p>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
