<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
      <div class="container">
          <div class="breadcrumb-hero">
              <h2>{{'applications.applications' | translate}}</h2>
          </div>
      </div>
  </div>
  <div class="container">
      <ol>
          <li><a routerLink="/">{{'header.home' | translate}}</a></li>
          <li>{{'applications.applications' | translate}}</li>
      </ol>
  </div>
</section>

<table datatable [dtOptions]="dtOptions" class="table table-sm table-striped" width="100%">
  <thead style="background-color: #94c045;">
    <tr>
      <td translate>{{'applications.status'}}</td>
      <th translate>{{'applications.trip'}}</th>
      <th translate>{{'applications.explorer'}}</th>
      <th translate>{{'applications.moment'}}</th>
      <th translate>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of data">
      <td>{{app.status}}</td>
      <!--<td style="cursor: pointer;" routerLink="/trips/display/{{app.trip}}">{{app.tripName}}</td>-->
      <td><a href="/trips/display/{{app.trip}}">{{app.tripName}}</a></td>
      <td><a href="/actors/display/{{app.explorer}}">{{app.explorerName}}</a></td>
      <td>{{app.moment | date}}</td>
      <td>
        <ul class="list-group">
        <li class="list-group-item" *ngFor="let comment of app.comments">
            <p class="card-text">{{comment}}</p>
        </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
