<section id="service-login" class="services section-bg">
  <div class="container">
    <br /><br />
    <div class="section-title pt-5" data-aos="fade-up">
      <h2 *ngIf="!adminConnected">{{'actor.register.explorer' | translate}}</h2>
      <h2 *ngIf="adminConnected">{{'actor.register.title' | translate}}</h2>
    </div>

    <div class="row justify-content-center align-items-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="mx-auto">

          <form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
            <fieldset>
            
              <div *ngIf="adminConnected" class="form-group has-danger">
                <label for="role" class="form-control-label">{{'actor.role' | translate}}:</label>
                <select id="role" class="form-control" formControlName="role">
                  <option *ngFor="let role of roleList" [value]="role">
                    {{role}}
                  </option>
                </select>
              </div>

              <div *ngIf="!adminConnected">
                <input class="form-control" formControlName="role" type="hidden">
              </div>

              <div class="form-group has-danger">
                <label for="name" class="form-control-label">{{'actor.name' | translate}}:</label>
                <input id="name" type="text" formControlName="name" class="form-control">
                <div *ngIf="registrationForm.get('name').errors && registrationForm.get('name').touched &&
                registrationForm.get('name').errors.required" class="text-danger">
                  {{'errorMessages.validation.required' | translate}}
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="surname" class="form-control-label">{{'actor.surname' | translate}}:</label>
                <input id="surname" type="text" formControlName="surname" class="form-control">
                <div *ngIf="registrationForm.get('surname').errors && registrationForm.get('surname').touched &&
                registrationForm.get('surname').errors.required" class="text-danger">
                  {{'errorMessages.validation.required' | translate}}
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="phone" class="form-control-label">{{'actor.phone' | translate}}:</label>
                <input id="phone" type="text" formControlName="phone" class="form-control">
              </div>

              <div class="form-group has-danger">
                <label for="address" class="form-control-label">{{'actor.address' | translate}}:</label>
                <input id="address" type="text" formControlName="address" class="form-control">
                <div *ngIf="registrationForm.get('address').errors && registrationForm.get('address').touched && registrationForm.get('address').errors.maxlength" class="text-danger">
                  {{ 'errorMessages.validation.string.maxLength' | translate: {
                  maxvalue: registrationForm.get('address').errors.maxlength.requiredLength
                  } }}
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="email" class="form-control-label">{{'actor.email' | translate}}:</label>
                <input id="email" type="text" formControlName="email" class="form-control">
                <div *ngIf="registrationForm.get('email').errors && registrationForm.get('email').touched &&
                registrationForm.get('email').errors.required" class="text-danger">
                  {{'errorMessages.validation.required' | translate}}
                </div>
              </div>

              <div class="form-group has-danger">
                <label for="password" class="form-control-label">{{'actor.password' | translate}}:</label>
                <input id="password" type="password" formControlName="password" class="form-control">
                <div *ngIf="registrationForm.get('password').errors && registrationForm.get('password').touched &&
                registrationForm.get('password').errors.required" class="text-danger">
                  {{'errorMessages.validation.required' | translate}}
                </div>
              </div>

              <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid">
                {{'security.register' | translate}}
              </button>
            </fieldset>
          </form>

          <div class="row">
            <div>
              <p>{{'security.alreadyRegistered' | translate}} <a href="/login">{{'security.login' | translate}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>