<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
    <div class="container">
      <div class="breadcrumb-hero">
        <h2>{{trip.title}}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <ol>
      <li><a href="/">{{'header.home' | translate}}</a></li>
      <li><a href="/trips">{{'trips.trips' | translate}}</a></li>
      <li>{{trip.title}}</li>
    </ol>
  </div>
</section>


<section id="blog" class="blog container">
  <div class="row">
    <div class="col-lg-8 entries">

      <article class="entry entry-single">
        <div class="entry-img">
          <img *ngIf="trip.picture != null && trip.picture.length != 0" class="img-fluid" src="{{trip.picture[0].data}}"
            alt="{{trip.title}}">
          <img *ngIf="!trip.picture || trip.picture.length === 0" class="img-fluid"
            src="https://i.ya-webdesign.com/images/image-not-available-png-5.png" alt="{{trip.title}}">
        </div>

        <h2 class="entry-title">
          {{trip.title}}
        </h2>

        <div class="entry-meta">
          <ul>
            <li class="d-flex align-items-center"><i class="icofont-user"></i> {{'trip.creator' | translate}}: <a
                href=""> {{creator.name}}</a>
            </li>
            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i>{{trip.startDate |localizedDate}} -
              {{trip.endDate |localizedDate}}</li>
            <li class="d-flex align-items-center"><i class="icofont-price"></i>{{trip.price}} €</li>
          </ul>
        </div>

        <div class="entry-content">
          <div [hidden]="!trip.cancelled" class="text-danger">
            <h3>{{'trip.cancelled' | translate}}</h3>
            <p>
              {{trip.cancelledReason}}
            </p>
          </div>
          <p>
            {{trip.description}}
          </p>
          <h3>{{'trip.requirements' | translate}}</h3>
          <p>
            <span *ngFor="let req of trip.requirements; let i = index">
              <p> <i class="icofont-check"></i> {{req}}</p>
            </span>
          </p>
          <h3>{{'trip.stages' | translate}}</h3>
          <p>
            <span *ngFor="let req of trip.stages; let i = index">
              <p> 
                <i class="icofont-airplane-alt"></i> {{trip.stages[i].title}} - {{trip.stages[i].price}} €
              </p>
              <p>
                {{trip.stages[i].description}}
              </p>
            </span>
          </p>
        </div>

        <div class="entry-footer clearfix" hidden="true">
          <div class="float-left">
            <i class="icofont-folder"></i>
            <ul class="cats">
              <li><a href="#">Business</a></li>
            </ul>

            <i class="icofont-tags"></i>
            <ul class="tags">
              <li><a href="#">Creative</a></li>
              <li><a href="#">Tips</a></li>
              <li><a href="#">Marketing</a></li>
            </ul>
          </div>

          <div class="float-right share">
            <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
            <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
            <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-lg-4">

      <div class="sidebar">

        <h3 class="sidebar-title">{{'trip.searchOthers' |translate}}</h3>
        <div class="sidebar-item search-form">
          <form action="/trips/search?keyword" method="GET">
            <input type="text">
            <button type="submit"><i class="icofont-search"></i></button>
          </form>
        </div>

        <h3 class="sidebar-title">{{'trip.options' |translate}}</h3>
        <div class="sidebar-item categories">
          <ul>
            <li [hidden]="!currentActor || currentActor.id !== trip.creator"><a href="#">{{'trip.edit' |translate}}</a>
            </li>

            <li *ngIf="purchasable"><a *ngIf="!currentActor" href="/login">{{'trip.buy' |translate}}</a></li>
            <li *ngIf="purchasable"><a *ngIf="currentActor !== null && activeRole === 'EXPLORER'"
                href="javascript:alert('El usuario será redirigido a la ventana de comprar un viaje pagando con Paypal');">{{'trip.buy' |translate}}</a>
            </li>
            <li><a href="javascript:void(0);" (click)="goBack()">{{'trip.goBack' |translate}}</a></li>
          </ul>

        </div><!-- End sidebar categories-->

      </div><!-- End sidebar -->

    </div><!-- End trip sidebar -->
  </div>
</section>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>