<section id="breadcrumbs" class="breadcrumbs">
  <div class="breadcrumb-hero">
    <div class="container">
      <div class="breadcrumb-hero">
        <h2>{{trip.title}}</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <ol>
      <li><a href="/">{{'header.home' | translate}}</a></li>
      <li><a href="/trips">{{'trips.trips' | translate}}</a></li>
      <li>{{trip.title}}</li>
    </ol>
  </div>
</section>


<section id="blog" class="blog container">
  <div class="row">
    <div class="col-lg-8 entries">

      <article class="entry entry-single">
        <div class="entry-img">


          <ngx-slick *ngIf="trip.photoObject && trip.photoObject.length > 0 && slides" class="carousel" #slickModal="slick-modal"
            [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.Buffer }}" alt="" width="100%" height="350">
            </div>
          </ngx-slick>

          <img *ngIf="!trip.photoObject || !trip.photoObject[0] || trip.photoObject[0].Buffer.length === 0 "
            class="img-fluid" src="https://i.ya-webdesign.com/images/image-not-available-png-5.png"
            alt="{{trip.title}}">
          <a *ngIf="trip.photoObject && trip.photoObject.length > 0 && currentActor && currentActor._id === trip.creator"
            href="javascript:void(0);" (click)="openDeleteImageDialog()">{{'trip.deletePicture' |translate}}</a>
        </div>
        <h2 class="entry-title">
          {{trip.title}}
        </h2>

        <div class="entry-meta">
          <ul>
            <li class="d-flex align-items-center"><i class="icofont-user"></i> {{'trip.creator' | translate}}: <a
                href="/actors/display/{{trip.creator}}"> {{creator.name}}</a>
            </li>
            <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i>{{trip.startDate |localizedDate}} -
              {{trip.endDate |localizedDate}}</li>
            <li class="d-flex align-items-center"><i class="icofont-price"></i>{{trip.price}} €</li>
            <li class="d-flex align-items-center">Ticker: {{trip.ticker}}</li>
          </ul>
        </div>

        <div class="entry-content">
          <div [hidden]="!cancelled" class="text-danger">
            <h3>{{'trip.cancelled' | translate}}</h3>
            <p>
              {{cancelledReason}}
            </p>
          </div>
          <p>
            {{trip.description}}
          </p>
          <h3>{{'trip.requirements' | translate}}</h3>
          <p>
            <span *ngFor="let req of trip.requirements; let i = index">
              <p> <i class="icofont-check"></i> {{req}}</p>
            </span>
          </p>
          <h3>{{'trip.stages' | translate}}</h3>
          <p>
            <span *ngFor="let req of trip.stages; let i = index">
              <p>
                <i class="icofont-airplane-alt"></i> {{trip.stages[i].title}} - {{trip.stages[i].price}} €
              </p>
              <p>
                {{trip.stages[i].description}}
              </p>
            </span>
          </p>
          <h3>{{'audits.audits' | translate}}</h3>
          <p>
            <span *ngFor="let aud of audits; let i = index">
              <p>
                <i class="icofont-airplane-alt"></i>{{aud.title}}
              </p>
            </span>
          </p>
          <div *ngIf="coordenadasLatitud != null && coordenadasLongitud != null" id="map" class="map">
            <h3>{{'trip.startPlace' | translate}}</h3>
            <vo-ui-osm-view [showDebugInfo]="false" [showControlsZoom]="true" [showControlsCurrentLocation]="true"
              (addressChanged)="onAddressChange($event)" [latitude]="37.38283" [longitude]="-5.97317"
              [latitudePointer]="coordenadasLatitud" [longitudePointer]="coordenadasLongitud" [zoom]="10">
            </vo-ui-osm-view>
          </div>
        </div>
      </article>
    </div>

    <div class="col-lg-4">

      <div class="sidebar">
        <h3 class="sidebar-title">{{'trip.options' |translate}}</h3>
        <div class="sidebar-item categories">
          <ul>
            <li [hidden]="editable || !currentActor || currentActor._id !== trip.creator">
              {{'trip.cantModify' |translate}}
            </li>
            <li [hidden]="cancelled || !editable || !currentActor || currentActor._id !== trip.creator">
              <a href="/trips/add-picture/{{trip._id}}">{{'trip.addPicture' |translate}}</a>
            </li>
            <li [hidden]="cancelled || !editable || !currentActor || currentActor._id !== trip.creator">
              <a href="/trips/edit/{{trip._id}}">{{'trip.edit' |translate}}</a>
            </li>
            <li [hidden]="cancelled || !editable || !currentActor || currentActor._id !== trip.creator">
              <a href="javascript:void(0);" (click)="openCancelDialog()">{{'trip.cancel' |translate}}</a>
            </li>
            <li [hidden]="cancelled || !editable || !currentActor || currentActor._id !== trip.creator">
              <a href="javascript:void(0);" (click)="openDeleteDialog()">{{'trip.delete' |translate}}</a>
            </li>
            <li [hidden]="cancelled || !currentActor || activeRole != 'EXPLORER'">
              <a href="/trips/{{trip._id}}/applications/create">
                {{'applications.apply' | translate}}
              </a>
            </li>
            <li [hidden]="currentActor == null || activeRole !== 'AUDITOR'">
              <a  href="/audits/create/{{trip._id}}">{{'audits.new' | translate}}</a>
            </li>
            <li>
              <a href="/audits/trips/{{trip._id}}">{{'audits.audits' |translate}}</a>
            </li>
            <li><a href="javascript:void(0);" (click)="goBack()">{{'trip.goBack' |translate}}</a></li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>