<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
            <form method="post">
                <div *ngIf="actor != null" class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://i.stack.imgur.com/34AD2.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{actor.surname}}, {{actor.name}}
                                    </h5>
                                    <h6>
                                        {{actor.role}}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 130px;">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{'actor.about' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{'actor.statistics' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button *ngIf="currentActor != null && actor != null && currentActor._id == id" class="profile-edit-btn" routerLink="/actors/edit/{{actor._id}}" style="margin-bottom: 5px;">{{'actor.edit' | translate}}</button>
                        <button *ngIf="actor != null && !actor.banned && activeRole === 'ADMINISTRATOR'" class="profile-edit-btn" (click)="onBanActor()" style="background-color: #94c045; color: white;">{{'actor.available' |translate}}</button>
                        <button *ngIf="actor != null && actor.banned && activeRole === 'ADMINISTRATOR'" class="profile-edit-btn" (click)="onUnbanActor()" style="background-color: rgb(250, 83, 83); color: white;" >{{'actor.banned' | translate}}</button>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-md-4">
                        <div *ngIf="actor != null && actor._id === currentActor._id" class="profile-work">
                            <p style="margin-bottom: 5px;">{{'actor.applications' | translate}}</p>
                            <a *ngIf="currentActor != null && activeRole === 'EXPLORER'" href="/actors/{{currentActor._id}}/applications">{{'actor.myApplications' | translate}}</a>
                            <a *ngIf="currentActor != null && activeRole === 'MANAGER'" href="/actors/{{currentActor._id}}/applications">{{'actor.receivedApplications' | translate}}</a>
                        </div>
                    </div>
                    <div *ngIf="actor != null" class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.name' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                              <label>{{'actor.surname' | translate}}</label>
                                          </div>
                                          <div class="col-md-6">
                                              <p>{{actor.surname}}</p>
                                          </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.email' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.phone' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.phone}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.address' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.address}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.completedTrips' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{tripsCompleted}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.spentMoney' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{spentMoney}} €</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.sentApplications' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{sentApplications}}</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>