<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://i.stack.imgur.com/34AD2.jpg" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                {{'actor.changePhoto' | translate}}
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{actor.surname}}, {{actor.name}}
                                    </h5>
                                    <h6>
                                        {{actor.role}}
                                    </h6>
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 130px;">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{'actor.about' | translate}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{{'actor.statistics' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a class="profile-edit-btn" routerLink="/actors/edit/{{actor._id}}" >{{'actor.edit' |translate}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p style="margin-bottom: 5px;">{{'actor.trips' | translate}}</p>
                            <a href="">{{'actor.completedTrips' | translate}}</a><br/>
                            <a href="">{{'actor.futureTrips' | translate}}</a><br/>
                            <p style="margin-bottom: 5px;">{{'actor.applications' | translate}}</p>
                            <a *ngIf="activeRole === 'EXPLORER'" href="/actors/{{currentActor.id}}/applications">{{'actor.myApplications' | translate}}</a>
                            <a *ngIf="activeRole === 'MANAGER'" href="/actors/{{currentActor.id}}/applications">{{'actor.receivedApplications' | translate}}</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.name' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6">
                                              <label>{{'actor.surname' | translate}}</label>
                                          </div>
                                          <div class="col-md-6">
                                              <p>{{actor.surname}}</p>
                                          </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.email' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.phone' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.phone}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.address' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{actor.address}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.completedTrips' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.spentMoney' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>2589 €</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>{{'actor.sentApplications' | translate}}</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>