<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero">
		<div class="container">
			<div class="breadcrumb-hero">
				<h2>{{'dashboard.display' | translate}}</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<ol>
			<li><a routerLink="/">{{'header.home' | translate}}</a></li>
			<li>{{'dashboard.display' | translate}}</li>
		</ol>
	</div>
</section>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero" style="padding: 0;">
		<div class="container">
			<div class="breadcrumb-hero">
				<h3 style="margin-top: 0; margin-bottom: 0;">{{'dashboard.tripsPerManager' | translate}}</h3>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.tripsPerManagers.avgManagerTrips}}</span>
					<span class="dbox__title">{{'dashboard.average' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.tripsPerManagers.minManagerTrips}}</span>
					<span class="dbox__title">{{'dashboard.minimum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.tripsPerManagers.maxManagerTrips}}</span>
					<span class="dbox__title">{{'dashboard.maximum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.tripsPerManagers.stdDevManagerTrips}}</span>
					<span class="dbox__title">{{'dashboard.stdDeviation' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero" style="padding: 0;">
		<div class="container">
			<div class="breadcrumb-hero">
				<h3 style="margin-top: 0; margin-bottom: 0;">{{'dashboard.applicationsPerTrip' | translate}}</h3>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.applicationsPerTrip.avgTripApplication}}</span>
					<span class="dbox__title">{{'dashboard.average' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.applicationsPerTrip.minTripApplication}}</span>
					<span class="dbox__title">{{'dashboard.minimum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.applicationsPerTrip.maxTripApplication}}</span>
					<span class="dbox__title">{{'dashboard.maximum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{dashboard.applicationsPerTrip.stdDevTripApplication}}</span>
					<span class="dbox__title">{{'dashboard.stdDeviation' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero" style="padding: 0;">
		<div class="container">
			<div class="breadcrumb-hero">
				<h3 style="margin-top: 0; margin-bottom: 0;">{{'dashboard.priceOfTrips' | translate}}</h3>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{this.dashboard.pricePerTrip.avgPrice}}</span>
					<span class="dbox__title">{{'dashboard.average' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{this.dashboard.pricePerTrip.minPrice}}</span>
					<span class="dbox__title">{{'dashboard.minimum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{this.dashboard.pricePerTrip.maxPrice}}</span>
					<span class="dbox__title">{{'dashboard.maximum' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{this.dashboard.pricePerTrip.stdDevPrice}}</span>
					<span class="dbox__title">{{'dashboard.stdDeviation' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero" style="padding: 0;">
		<div class="container">
			<div class="breadcrumb-hero">
				<h3 style="margin-top: 0; margin-bottom: 0;">{{'dashboard.applicationsByStatus' | translate}}</h3>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span
						class="dbox__count">{{this.dashboard.ratioApplicationsPerStatus.ratioPendingApplications}}</span>
					<span class="dbox__title">{{'dashboard.pending' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span
						class="dbox__count">{{this.dashboard.ratioApplicationsPerStatus.ratioRejectedApplications}}</span>
					<span class="dbox__title">{{'dashboard.rejected' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{this.dashboard.ratioApplicationsPerStatus.ratioDueApplications}}</span>
					<span class="dbox__title">{{'dashboard.due' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span
						class="dbox__count">{{this.dashboard.ratioApplicationsPerStatus.ratioAcceptedApplications}}</span>
					<span class="dbox__title">{{'dashboard.accepted' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-3">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dbox__body">
					<span
						class="dbox__count">{{this.dashboard.ratioApplicationsPerStatus.ratioCancelledApplications}}</span>
					<span class="dbox__title">{{'dashboard.cancelled' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="breadcrumbs" class="breadcrumbs">
	<div class="breadcrumb-hero" style="padding: 0;">
		<div class="container">
			<div class="breadcrumb-hero">
				<h3 style="margin-top: 0; margin-bottom: 0;">{{'dashboard.explorersFinder' | translate}}</h3>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">From: {{dashboard.avgFinderPrices.avgMinPrice}}</span>
					<span class="dbox__count">To: {{dashboard.avgFinderPrices.avgMaxPrice}}</span>
					<span class="dbox__title">{{'dashboard.avgPriceRange' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count" *ngFor="let word of topFinderKeywords">
						<span class="dbox__count">{{word.keyword}}: {{word.keywordSum}}</span>
					</span>
					<span class="dbox__title">{{'dashboard.topTenKeywords' | translate}}</span>
				</div>

				<div class="dbox__action">
					<button class="dbox__action__btn"
						style="font-size: 9px; padding: 4px;">{{'dashboard.moreInfo' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>